.wel{
    color: #fff;
    font-size: 45px;
    
}
.sec{
    margin-left: 140px;
}
@media screen and (max-width:1200px){

    .sec{

      
       margin-left: 100px;
      
      }
      
   

}
@media screen and (max-width:980px){

    .sec{

      
       margin-left: 10px;
      
      }
      
   

}